# -*- mode: snippet -*-
# name: cc members
# key: ccm
# --
* Members Present

- [ ] Joshua Brunet
- [ ] John Dement
- [ ] Larinee Dennis
- [ ] Mark Franklin
- [ ] Rebecca Farley
- [ ] David Greenwell
- [ ] Jeffrey Hogan
- [ ] Joan Klerekoper
- [ ] Karen Longest
- [ ] Nathan Malmberg
- [ ] Sarah Marsh
- [ ] Micah Meek
- [ ] Jeff Paul
- [ ] Anna Pumphrey
- [ ] Randy Ridenour
- [ ] Jeremy Wallace
- [ ] Rachel Wallace
$0