# -*- mode: snippet -*-
# name: slipshow header
# group: slipshow
# key: ssh
# --

#+TITLE: $1
#+AUTHOR: ${2:Dr.} Ridenour
#+DATE: `(format-time-string "%B %d, %Y")`
#+OPTIONS: toc:nil
#+SLIPSHOW_THEME: vanier
#+SLIPSHOW_DIMENSION: 16:9

$0
