# -*- mode: snippet -*-
# name: slipshow header
# group: slipshow
# key: ssh
# --

#+TITLE: $1
#+AUTHOR: ${2:Dr.} Ridenour
#+DATE: `(format-time-string "%B %d, %Y")`
#+SLIPSHOW_AFFILIATION: Department of Philosophy
#+SLIPSHOW_TITLE_LOGO: /Users/rlridenour/sites/slipshow/school.png
#+OPTIONS: toc:nil
#+SLIPSHOW_THEME: vanier
#+SLIPSHOW_CSS: /Users/rlridenour/sites/slipshow/rlr-vanier.css
#+SLIPSHOW_JS: /Users/rlridenour/sites/slipshow/speaker-view.js
#+SLIPSHOW_DIMENSION: 16:9

# ssp to add properties block.Add this to section headings to force pause above the section. Use up, down, and center for positioning.
# ssattr to add attributes. Select from options for pause, images, lists, and standard form arguments.
# sp for inline pause.

$0
