# -*- mode: snippet -*-
# name: Typst Exam
# group: typst
# key: exam
# --
#+COURSE_NUMBER: ${1:PHIL 1043}
#+COURSE_NAME: ${2:Introduction to Philosophy}
#+EXAM_NAME: $3
#+DATE: `(format-time-string "%B %e, %Y")`

* Multiple Choice

Circle the best answer for each question. (2 points each)

* Short Essay
:PROPERTIES:
:PAGEBREAK: t
:END:


$0