# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

.DS_Store
*.eld
history
elpaca/
eshell/
eln-cache/
custom.el
recentf
tramp
.persistent-scratch
transient/
bookmarks
projects
elpa/
*desktop*
persist/
url/
*.plstore
tldr/
server/
image-dired/
history/
custom.el
tree-sitter/
*.elc
*-autoloads.el