# -*- mode: snippet -*-
# name: Typst Logic Commands
# key: lcommands
# --
#import "@preview/quick-maths:0.2.1": shorthands
#show: shorthands.with(
    ($and$, $circle.filled.small$),
    ($->$, $supset$),
    ($==$, $equiv$),
    ($\a$, $forall$),
    ($\e$, $exists$)
)
$0