# -*- mode: snippet -*-
# name: Numerical Answer Question
# key: nmq
# --
{
      "type": "numerical",
      "question_name": "$1",
      "question_text": "$2",
      "points": $3,
      "answers": [
        {"exact": $4, "margin": {${5:0.1}}}
      ]
      },
$0