# -*- mode: snippet -*-
# name: True/False Question
# key: tfq
# --
{
      "type": "true_false",
      "question_name": "$1",
      "question_text": "$2",
      "points": {$3},
      "correct": {${4:true}}
    },
$5